<ul>
    <li (click)="setStyle('fontStyle','bold')">b</li>
    <li (click)="setStyle('fontStyle','italic')">I</li>
    <li>c</li>
    <li>
        <select>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
            <option value="20">20</option>
            <option value="24">24</option>
            <option value="28">28</option>
            <option value="30">30</option>
            <option value="32">32</option>
        </select>
    </li>
</ul>