<app-create-header (share)="shareTemplate()"></app-create-header>
<app-create-sidebar (element)="addElement($event)"></app-create-sidebar>
<div class="container">
    <div class="content" (click)="clickedOutside($event)">
        <div class="toolbar-container">
            <app-rich-text-toolbar #richText (style)="setElementStyle($event)" (deleteItem)="deleteItem()" [fontSize]="defaultFontSize"></app-rich-text-toolbar>
        </div>
        <section #canvas class="area" id="drag-resize-area" 
            [ngClass]="{bgActive: bgSelected && currentIndex === 0}"
            [style.background]="backgroundColor" 
            (click)="selectBgArea($event)">
            <div *ngFor="let element of arrayOfElements | slice:1 ; index as indexOfelement;" cdkDrag>
                <div class="wrapper">
                    <div class="element-container"
                        (click)="selectElement(indexOfelement + 1)"
                        [ngClass]="{isActive: currentIndex === indexOfelement + 1, isTextArea: element.type === 'textbox'}">

                        <!-- START TEXTAREA -->
                        <textarea *ngIf="element.type === 'textbox'"
                            [ngClass]="{notSelected: currentIndex !== indexOfelement + 1}"
                            [style.font-size]="element.fontSize"
                            [style.font-family]="element.fontFace"
                            [style.font-style]="element.fontStyle"
                            [style.font-weight]="element.fontWeight"
                            [style.color]="element.textColor"
                            matInput
                            cdkTextareaAutosize
                            autofocus
                            #autosize="cdkTextareaAutosize"
                            cdkAutosizeMinRows="1">Add text here</textarea>
                        <!-- END TEXTAREA -->

                        <!-- START IMAGE -->
                        <div class="image-wrapper" *ngIf="element.type === 'image'"
                            [ngClass]="{isActive: currentIndex === indexOfelement + 1}">
                            <img src="assets/images/bg-images/{{element.image}}">
                        </div>
                        <!-- END IMAGE -->

                        <!-- START ELEMENT -->
                        <div class="element-wrapper" [ngClass]="{isActive: currentIndex === indexOfelement + 1}" *ngIf="element.type === 'element'">
                            <div class="shape-container" *ngIf="element.figure === 'circle'">
                                <svg viewBox="0 0 100 100">
                                    <circle cx="50" cy="50" r="50" [attr.fill]="element.bg"   />
                                </svg>
                            </div>
                            <div class="shape-container" *ngIf="element.figure === 'square'">
                                <svg viewBox="0 0 100 100">
                                    <rect width="100" height="100" [attr.fill]="element.bg" />
                                </svg>
                            </div>
                            <div class="shape-container" *ngIf="element.figure === 'rect-radius'">
                                <svg viewBox="0 0 100 100">
                                    <rect rx="10" ry="10" width="100" height="100" [attr.fill]="element.bg"/>
                                </svg>
                            </div>
                            <div class="shape-container" *ngIf="element.figure === 'hline'">
                                <svg viewBox="0 0 100 100">
                                    <line x1="50" y1="0" x2="50" y2="100" [attr.stroke]="element.bg" stroke-width="5"></line>
                                </svg>
                            </div>
                            <div class="shape-container" *ngIf="element.figure === 'vline'">
                                <svg viewBox="0 0 100 100">
                                    <path d="M 0,50 H 100" [attr.stroke]="element.bg" stroke-width="5" />
                                </svg>
                            </div>
                        </div>
                        <!-- END ELEMENT -->
                    </div>
                    <div *ngIf="currentIndex === indexOfelement + 1" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>