<app-create-header></app-create-header>
<app-create-sidebar (element)="getElementData($event)"></app-create-sidebar>
<div class="container">
    <div class="content">
        <!-- <div (click)="saveImage()">Save Image</div> -->
        <div #screen class="poster-wrapper">
            <div cdkDrag 
                cdkDragBoundary=".poster-wrapper" 
                *ngFor="let e of arrayOfElements" 
                [innerHtml]="e.elmnt" 
                class="{{e.type}}"></div>
        </div>
    </div>
</div>

<div id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>