<div class="wrapper">
    <div class="content">
        <img src="assets/images/healthylungs-logo.png">
        <h1>Create an Account</h1>
        <div class="login">
            <p>Have an account? <a href="" [routerLink]="['/login']">Log in</a>.</p>
        </div>
        <form>
            <h2>Account Information</h2>
            <div class="field-container">
               <input placeholder="Email Address" />
            </div>
            <div class="psw-container flex">
                <div class="field-container">
                    <input placeholder="Password" />
                </div>
                <div class="field-container">
                    <input placeholder="Confirm Password" />
                </div>
            </div>

            <h2 class="personal">Personal Information</h2>
            <div class="name-container flex">
                <div class="field-container">
                    <input placeholder="First Name" />
                 </div>
                 <div class="field-container">
                    <input placeholder="Last Name" />
                 </div>
            </div>
            <div class="cr-container flex">
                <div class="field-container">
                    <input placeholder="Contact Number" />
                </div>
                <div class="field-container">
                    <select name="region" id="region">
                        <option value="">Select Region</option>
                    </select>
                </div>
            </div>
            <div class="btn-container">
                <div class="btn submit">Submit</div>
                <div class="btn cancel">Cancel</div>
            </div>
        </form>
    </div>
</div>